body{
    background-color: #f8f9fa;
}

.box{
    max-width:500px;
    margin: auto;
}
h2{
    font-size: 2rem;
    font-weight: bold;
}
label{
    font-weight: bold;
    
}
.btn-primary{
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover{
    background-color: #0056b3;
    border-color: #004085;
}
.btn-success{
    background-color: #0056b3;
    border-color:#004085;
}
.btn-success:hover{
    background-color: #0056b3;
    border-color: #004085;
}
.text-center a{
    text-decoration: none;
    color:#007bff;
}
.text-center a:hover{
    text-decoration: underline;
    color:#0056b3;
}
.message p{
    font-size: 1rem;
    color:#dc3545;
    font-weight: bold;
}
