* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    touch-action: none;
    overscroll-behavior: none;

}
html{

    touch-action: none;
    overscroll-behavior: none;
}
header {
    background-color: #444;
    padding: 20px;
    color: #fff;
    text-align: center;
}

.services {
    padding: 20px;
}

.service {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.service h3 {
    color: #333;
}

.service p {
    color: #666;
}

.section-title {
    text-align: center;
}
