{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
     <link rel="stylesheet" href="{% static 'css/aboutus.css' %}"> 

</head>
<body>
   

    <section>
        <div class="box">
        <div class="content">
        <h1>About Us</h1>
        <p>Welcome to <strong>Inaya Event Management Company</strong> where we make events extraordinary!</p>

        <h2>Our Mission</h2>
        <p>At <strong>Inaya Event Management Company..</strong> Our mission is to simplify the process of planning, organizing, and managing events of all sizes. Whether it's a corporate conference, a wedding reception, or a community fundraiser, we strive to provide innovative solutions that exceed our clients' expectations.</p>

        <h2>Our History</h2>
        <p>Founded in <strong>2020</strong>, <strong>Inaya Event Management Company</strong> has been a pioneer in revolutionizing the event planning industry. Over the years, we have helped countless clients bring their visions to life, creating memorable experiences that leave a lasting impression.</p>

        <h2>Our Team</h2>
        <p>Behind every successful event is a dedicated team of professionals, and at <strong>Inaya Event Management Company</strong>, we're proud to have some of the best in the business. From event coordinators and planners to designers and technicians, our diverse team brings a wealth of experience and creativity to every project.</p>

        <h2>Why Choose Us?</h2>
        <ul>
            <li><strong>Expertise:</strong> With years of experience in the industry, we have the expertise to handle events of any scale or complexity.</li>
            <li><strong>Innovation:</strong> We stay ahead of the curve by embracing the latest technologies and trends, ensuring that your event stands out from the crowd.</li>
            <li><strong>Personalized Service:</strong> We understand that every event is unique, which is why we offer personalized service tailored to your specific needs and preferences.</li>
        </ul>

        <h2>Get in Touch</h2>
        <p>Ready to take your event to the next level? Book Your Day With Us By Registering on our Website.Below is the link to register.</p>
       
    </div>
    </div>
<div style="text-align:center;">
    <a style="color:blue;font-weight:bold;font-size:20px;" href="{%url 'home'%}">Go to Home</a>
</div>
   </section>
   </body>
   </html>